<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <div class="col-sm-2">
                    <label class="col-form-label">Analytics Period: &nbsp;&nbsp; </label>
                    <input id="datePicker" class="form-control " ngxDaterangepickerMd [closeOnAutoApply]="true"
                        [showCustomRangeLabel]="true" [autoApply]="true" [singleDatePicker]="false" [ranges]="ranges"
                        (datesUpdated)="choosedDate($event)" [locale]="locale" [alwaysShowCalendars]="false"
                        [linkedCalendars]="true" [(ngModel)]="selectedDateRange">
                </div>
                <div class="col-sm-2 pull-right">

                    <label class=" col-form-label">Analytics For Office: &nbsp;</label>
                    <select class="form-select form-select-sm" (change)="selectMonth($event.target.value)">
                        <option value="Los Angeles" selected>Los Angeles</option>
                        <option value="Denver">Denver</option>
                        <option value="San Diego">San Diego</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex align-items-center justify-content-center" *ngIf="isOfficeAdmin">

        <div class="col-sm-2">
            <div class="card bg-primary bg-soft">
                <div class="card-body">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <div class=" p-3">
                            <div class="media-body align-self-center">
                                <div class="text-muted text-center">
                                    <h6 class="mb-2 text-primary text-truncate">Welcome!</h6>
                                    <h5 class="mb-1 ">Alec Manoukian</h5>
                                    <p class="mb-0 text-warning">Office Admin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
            </div>

        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs me-3">
                            <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                <i class="mdi mdi-dolly"></i>
                            </span>
                        </div>
                        <h5 class="font-size-14 mb-0">Profit Margin</h5>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                class="ms-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs me-3">
                            <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                <i class="mdi mdi-dolly"></i>
                            </span>
                        </div>
                        <h5 class="font-size-14 mb-0">Load Count</h5>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                class="ms-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs me-3">
                            <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                <i class="mdi mdi-dolly"></i>
                            </span>
                        </div>
                        <h5 class="font-size-14 mb-0">Load Average</h5>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                class="ms-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs me-3">
                            <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                <i class="bx bx-archive-in"></i>
                            </span>
                        </div>
                        <h5 class="font-size-14 mb-0">Gross Revenue</h5>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>$ 28,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                class="ms-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs me-3">
                            <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                <i class="bx bx-dollar"></i>
                            </span>
                        </div>
                        <h5 class="font-size-14 mb-0">Net Profit</h5>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>$ 2,116.2 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>

                        <div class="d-flex">
                            <span class="badge badge-soft-warning font-size-12"> 0% </span> <span
                                class="ms-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="isSuperAdmin">
        <div class="col-xl-3">
            <div class="card bg-primary bg-soft">
                <div>
                    <div class="row">
                        <div class="col-8">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <h5 class="mb-1">Alec Manoukian</h5>
                                <p class="mb-0 text-warning">Company Admin</p>


                                <ul class="ps-3 mb-0">
                                    <li class="py-1">Navigate to Offices</li>
                                    <li class="py-1">Load Summary and more</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-4 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="mdi mdi-dolly"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Load Count</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="mdi mdi-dolly"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Load Average</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Gross Revenue</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>$ 28,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="bx bx-dollar"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Net Profit</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>$ 2,116.2 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>

                                <div class="d-flex">
                                    <span class="badge badge-soft-warning font-size-12"> 0% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="row ">
        <div [ngClass]="isSuperAdmin ? 'col-xl-5': 'col-xl-4'">
            <div class="row">
                <div [ngClass]="isSuperAdmin ? 'col-xl-7': 'col-xl-12'">

                    <div class="card ">
                        <div class="card-body">
                            <h4 class="card-title mb-4 ">LOAD SUMMARY</h4>

                            <apx-chart class="apex-charts" dir="ltr" [series]="loadSummaryChart.series"
                                [chart]="loadSummaryChart.chart" [labels]="loadSummaryChart.labels"
                                [legend]="loadSummaryChart.legend" [colors]="loadSummaryChart.colors"
                                [responsive]="loadSummaryChart.responsive">
                            </apx-chart>


                        </div>
                    </div>
                </div>

                <div class="col-sm-5" *ngIf="isSuperAdmin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="mdi mdi-dolly"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Profit Margin</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" *ngIf="isSuperAdmin">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="bx bx-map-pin"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Offices</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" *ngIf="isSuperAdmin">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">
                                        <i class="bx bx-group"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Dispatchers</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div [ngClass]="isSuperAdmin ? 'col-xl-7': 'col-xl-8'">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-end">
                            <div class="input-group input-group-sm">
                                <label class="input-group-text">Report</label>
                                <select class="form-select form-select-sm" (change)="selectMonth($event.target.value)">
                                    <option value="january" selected>Total Revenue</option>
                                    <option value="december">Total Profit</option>
                                    <option value="november">Total Loads</option>

                                </select>

                            </div>
                        </div>
                        <h4 class="card-title mb-4">STATISTICS</h4>
                    </div>

                    <div class="row" *ngFor="let item of sassEarning">

                        <div>
                            <div id="overview-chart" class="apex-charts" dir="ltr"></div>
                            <apx-chart class="apex-charts" dir="ltr" [series]="OveviewChart.series"
                                [chart]="OveviewChart.chart" [colors]="OveviewChart.colors"
                                [stroke]="OveviewChart.stroke" [dataLabels]="OveviewChart.dataLabels"
                                [fill]="OveviewChart.fill" [xaxis]="OveviewChart.xaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">TOP PERFORMERS</h4>
                    <div class="table-responsive">
                        <table class="table align-middle  table-nowrap table-hover">
                            <thead class="">
                                <tr>
                                    <th scope="col" style="width: 70px;"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Net Profit</th>
                                    <th scope="col">Gross Revenue</th>
                                    <th scope="col">Load Count</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle">
                                                DM
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);"
                                                class="text-dark">David
                                                McHenry</a>
                                        </h5>
                                        <p class="text-muted mb-0">Dispatcher</p>
                                    </td>
                                    <td>david@capitaltms.com</td>
                                    <td>
                                        $ 5,000
                                    </td>
                                    <td>
                                        $ 3,500
                                        0 </td>

                                    <td>
                                        150
                                    </td>
                                    <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0">

                                            <li class="list-inline-item px-2">
                                                <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                                        class="bx bx-user-circle"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-2.jpg"
                                                alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);"
                                                class="text-dark">Frank
                                                Kirk</a></h5>
                                        <p class="text-muted mb-0">Dispatcher</p>
                                    </td>
                                    <td>frank@capitaltms.com</td>
                                    <td>
                                        $ 5,000
                                    </td>
                                    <td>
                                        $ 3,500
                                        0 </td>

                                    <td>
                                        150
                                    </td>
                                    <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0">

                                            <li class="list-inline-item px-2">
                                                <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                                        class="bx bx-user-circle"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-3.jpg"
                                                alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);"
                                                class="text-dark">Rafael Morales</a>
                                        </h5>
                                        <p class="text-muted mb-0">Dispatcher</p>
                                    </td>
                                    <td>Rafael@capitaltms.com</td>
                                    <td>
                                        $ 5,000
                                    </td>
                                    <td>
                                        $ 3,500
                                        0 </td>

                                    <td>
                                        150
                                    </td>
                                    <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0">

                                            <li class="list-inline-item px-2">
                                                <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                                        class="bx bx-user-circle"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle">
                                                ME
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);"
                                                class="text-dark">Mark
                                                Ellison</a></h5>
                                        <p class="text-muted mb-0">Dispatcher</p>
                                    </td>
                                    <td>mark@capitaltms.com</td>
                                    <td>
                                        $ 5,000
                                    </td>
                                    <td>
                                        $ 3,500
                                        0 </td>

                                    <td>
                                        150
                                    </td>
                                    <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0">

                                            <li class="list-inline-item px-2">
                                                <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                                        class="bx bx-user-circle"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-4.jpg"
                                                alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="font-size-14 mb-1"><a href="javascript: void(0);"
                                                class="text-dark">Minnie Walter</a>
                                        </h5>
                                        <p class="text-muted mb-0">Dispatcher</p>
                                    </td>
                                    <td>minnie@capitaltms.com</td>
                                    <td>
                                        $ 5,000
                                    </td>
                                    <td>
                                        $ 3,500
                                        0 </td>

                                    <td>
                                        150
                                    </td>
                                    <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0">

                                            <li class="list-inline-item px-2">
                                                <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                                        class="bx bx-user-circle"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">RECENT LOADS </h4>
                    <app-transaction [transactions]="transactions"></app-transaction>
                    <!-- end table -->
                </div>
            </div>

        </div>

    </div>