<form  *ngIf="saferWatchService.addonEnabled" form class="needs-validation" (ngSubmit)="searchSubmit()" [formGroup]="searchForm">

<div class="col-sm-12  col-lg-4 mb-3">

  <label for="email">Search Carrier </label>


  <label class="visually-hidden" for="inlineFormInputGroupUsername">Search Carrier</label>
  <div class="input-group">
  
      <ng-select [items]="mcffSearch" [clearable]="false" formControlName="mcff" bindLabel="name" bindValue="code">
      </ng-select>
   
   
    <input type="email" class="form-control" formControlName="searchValue" placeholder=""
      [ngClass]="{'is-invalid' :submit && form.email.errors }">

    <button  [disabled]="isSearching" class="btn btn-info "><i class="mdi mdi-book-search-outline"></i> 
      <span *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

    
      Search</button>

  </div>
</div>
</form>

<form  class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="carrierForm">
  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">

    <li [ngbNavItem]="1" [destroyOnHide]="false">

      <a ngbNavLink>Profile</a>
      <ng-template ngbNavContent>
        <div formGroupName="profile">

          <div class="d-flex justify-content-between">
            <h5 class="text-primary mb-3">Company Information</h5>
            <div class="form-check form-check-primary mb-3">
              <input class="form-check-input date-cursor" type="checkbox" name="blacklisted"
                formControlName="blacklisted" id="blacklisted">
              <label>Blacklist Carrier</label>
            </div>
          </div>


          <div class="row ">

            <div class="mb-3 col-sm-6 col-lg-4">
              <label for="name">Company Name <span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter Company Name"
                [ngClass]="{'is-invalid' :submit && form.name.errors ,'is-valid': !form.name.errors}">
              <div *ngIf="submit && form.name.errors" class="invalid-feedback">
                <span *ngIf="form.name.errors.required">Please provide a valid name.</span>
              </div>
            </div>



            <div class="mb-3 col-sm-6 col-lg-4">
              <label for="primaryConatct">Primary Contact</label>
              <input type="text" class="form-control" formControlName="primaryConatct"
                placeholder="Enter Primary Contact" [ngClass]="{'is-invalid' :submit && form.primaryConatct.errors}">
            </div>


            <div class="mb-3 col-sm-6 col-lg-4">
              <label for="secondaryConatct">Secondary Contact</label>
              <input type="text" class="form-control" formControlName="primaryConatct"
                placeholder="Enter Secondary Contact"
                [ngClass]="{'is-invalid' :submit && form.secondaryConatct.errors}">
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="country">Country <span class="text-danger"> *</span></label>
              <ng-select formControlName="country" (ngModelChange)="onCountryChange($event)"
                placeholder="Select Country" [items]="countryList" bindLabel="name" bindValue="isoCode"
                [ngClass]="{'is-invalid' :submit && form.country.errors ,'is-valid': !form.country.errors}">
              </ng-select>

              <div *ngIf="submit && form.country.errors" class="invalid-feedback">
                <span *ngIf="form.country.errors.required">Please choose a valid Country.</span>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="address_1">Address Line 1 <span class="text-danger"> *</span></label>
              <input type="email" class="form-control" formControlName="address_1" placeholder="Enter Address Line 1"
                [ngClass]="{'is-invalid' :submit && form.address_1.errors ,'is-valid': !form.address_1.errors}">

              <div *ngIf="submit && form.address_1.errors" class="invalid-feedback">
                <span *ngIf="form.address_1.errors.required">Please provide a valid Address.</span>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="address_2">Address Line 2 <span class="text-danger"> *</span></label>
              <input type="email" class="form-control" formControlName="address_2" placeholder="Enter Address Line 2"
                [ngClass]="{'is-invalid' :submit && form.address_2.errors ,'is-valid': !form.address_2.errors}">

              <div *ngIf="submit && form.address_2.errors" class="invalid-feedback">
                <span *ngIf="form.address_2.errors.required">Please provide a valid Address.</span>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="state">State/Province <span class="text-danger"> *</span></label>
              <ng-select formControlName="state" (ngModelChange)="onStateChange($event)" placeholder="Select State"
                [items]="stateList" bindLabel="name" bindValue="isoCode"
                [ngClass]="{'is-invalid' :submit && form.state.errors ,'is-valid': !form.state.errors}">
              </ng-select>

              <div *ngIf="submit && form.state.errors" class="invalid-feedback">
                <span *ngIf="form.state.errors.required">Please choose a valid State.</span>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="city">City <span class="text-danger"> *</span></label>
              <ng-select formControlName="city" placeholder="Select City" [items]="cityList" bindLabel="name"
                bindValue="name" [ngClass]="{'is-invalid' :submit && form.city.errors ,'is-valid': !form.city.errors}">
              </ng-select>

              <div *ngIf="submit && form.city.errors" class="invalid-feedback">
                <span *ngIf="form.city.errors.required">Please choose a valid City.</span>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="zip">Zip/Postal </label>
              <input type="zip" class="form-control" formControlName="zip" placeholder="Enter Zip/postal code"
                [ngClass]="{'is-invalid' :submit && form.zip.errors ,'is-valid': !form.zip.errors}">

              <div *ngIf="submit && form.zip.errors" class="invalid-feedback">
                <span *ngIf="form.zip.errors.required">Please provide a valid Postal Address.</span>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="state">MC#/FF# <span class="text-danger"> *</span></label>

              <div class="row">
                <div class="col-md-4">
                  <ng-select [items]="mcff" [clearable]="false" formControlName="mcffOption" bindLabel="name"
                    bindValue="code">
                  </ng-select>
                </div>
                <div class="col-md-8">
                  <input type="number" class="form-control" formControlName="mcff" placeholder="Enter MC#/FF#"
                    [ngClass]="{'is-invalid' :submit && form.mcff.errors ,'is-valid': !form.mcff.errors}">
                </div>
              </div>

              <div *ngIf="submit && form.state.errors" class="invalid-feedback">
                <span *ngIf="form.state.errors.required">Please add a MC#/FF#.</span>
              </div>
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <div class="row">
                <div class="col-md-6">
                  <label for="urs">URS# <span class="text-danger"> *</span></label>
                  <input type="number" class="form-control" formControlName="urs" placeholder="Enter URS#"
                    [ngClass]="{'is-invalid' :submit && form.urs.errors ,'is-valid': !form.urs.errors}">

                  <div *ngIf="submit && form.urs.errors" class="invalid-feedback">
                    <span *ngIf="form.urs.errors.required">Please add a valid URS#.</span>
                  </div>

                </div>
                <div class="col-md-6">
                  <label for="scac">SCAS <span class="text-danger"> *</span></label>
                  <input type="number" class="form-control" formControlName="scac" placeholder="Enter SCAC"
                    [ngClass]="{'is-invalid' :submit && form.scac.errors ,'is-valid': !form.scac.errors}">

                  <div *ngIf="submit && form.scac.errors" class="invalid-feedback">
                    <span *ngIf="form.scac.errors.required">Please add a valid SCAC.</span>
                  </div>

                </div>
              </div>




            </div>

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="dot">DOT# </label>
              <input type="number" class="form-control" formControlName="dot" placeholder="Enter DOT#"
                [ngClass]="{'is-invalid' :submit && form.dot.errors ,'is-valid': !form.dot.errors}">

              <div *ngIf="submit && form.dot.errors" class="invalid-feedback">
                <span *ngIf="form.dot.errors.required">Please provide a valid DOT#</span>
              </div>
            </div>


          </div>


          <h5 class="mb-3 mt-2 text-primary">Contact Information</h5>

          <div class="row ">

            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class="col-sm-6">
                  <label for="telephone">Telephone Number <span class="text-danger"> *</span> </label>
                  <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                    [dropSpecialCharacters]="false" formControlName="telephone" placeholder="Enter Phone Number"
                    [ngClass]="{'is-invalid' :submit && form.telephone.errors ,'is-valid': !form.telephone.errors}"
                    mask="(000) 000-0000">

                  <div *ngIf="submit && form.telephone.errors" class="invalid-feedback">
                    <span *ngIf="form.telephone.errors.required">Please provide a valid Phone Number.</span>
                  </div>
                </div>

                <div class=" col-sm-6">
                  <label for="ext">Ext.</label>
                  <input type="text" class="form-control" formControlName="ext" placeholder="Enter Extension"
                    [ngClass]="{'is-invalid' :submit && form.ext.errors }">

                  <div *ngIf="submit && form.ext.errors" class="invalid-feedback">
                    <span *ngIf="form.ext.errors.required">Please provide a valid Extension Number.</span>
                  </div>
                </div>
              </div>
            </div>


            <div class=" mb-3  col-sm-6 col-lg-4">
              <label for="tollFree">Toll Free </label>
              <input type="text" class="form-control" formControlName="tollFree" placeholder="Enter Toll Free"
                [ngClass]="{'is-invalid' :submit && form.tollFree.errors }">

              <div *ngIf="submit && form.tollFree.errors" class="invalid-feedback">
                <span *ngIf="form.tollFree.errors.required">Please provide a valid Toll Free.</span>
              </div>
            </div>


            <div class=" mb-3  col-sm-6 col-lg-4">
              <label for="faxNumber">Fax </label>
              <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                [dropSpecialCharacters]="false" formControlName="faxNumber" placeholder="Enter Fax Number"
                [ngClass]="{'is-invalid' :submit && form.faxNumber.errors}" mask="(000) 000-0000">

              <div *ngIf="submit && form.faxNumber.errors" class="invalid-feedback">
                <span *ngIf="form.faxNumber.errors.required">Please provide a valid Fax Number.</span>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="email">Email </label>
              <input type="email" class="form-control" formControlName="email" placeholder="Enter Email"
                [ngClass]="{'is-invalid' :submit && form.email.errors }">

              <div *ngIf="submit && form.email.errors" class="invalid-feedback">
                <span *ngIf="form.email.errors.required">Please provide a valid Email.</span>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="remittanceEmail">Remittance Email </label>
              <input type="email" class="form-control" formControlName="remittanceEmail"
                placeholder="Enter Remittance Email" [ngClass]="{'is-invalid' :submit && form.remittanceEmail.errors }">

              <div *ngIf="submit && form.remittanceEmail.errors" class="invalid-feedback">
                <span *ngIf="form.remittanceEmail.errors.required">Please provide a valid Email.</span>
              </div>
            </div>

          </div>

          <h5 class="mb-3 mt-2 text-primary">Additional Information</h5>
          <div class="row">
            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class=" col-md-6">
                  <label for="paymentTerms">Payment Terms</label>
                  <ng-select [clearable]="false" formControlName="paymentTerms" placeholder="Select Terms"
                    [items]="paymentTerms" bindLabel="name" bindValue="code"
                    [ngClass]="{'is-invalid' :submit && form.paymentTerms.errors ,'is-valid': !form.paymentTerms.errors}">
                  </ng-select>

                  <div *ngIf="submit && form.paymentTerms.errors" class="invalid-feedback">
                    <span *ngIf="form.paymentTerms.errors.required">Please choose a valid Payment Term.</span>
                  </div>

                </div>
                <div class="col-md-6">
                  <label for="currency">Currency</label>
                  <ng-select [clearable]="false" formControlName="currency" placeholder="Select currency"
                    [items]="currencyList" bindLabel="code" bindValue="code"
                    [ngClass]="{'is-invalid' :submit && form.currency.errors }">
                  </ng-select>

                  <div *ngIf="submit && form.currency.errors" class="invalid-feedback">
                    <span *ngIf="form.currency.errors.required">Please choose a valid currency.</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">
                <div class="col-md-6">
                  <label for="taxID">Tax ID/EIN </label>
                  <input type="email" class="form-control" formControlName="taxID" placeholder="Enter Tax ID"
                    [ngClass]="{'is-invalid' :submit && form.taxID.errors }">

                  <div *ngIf="submit && form.taxID.errors" class="invalid-feedback">
                    <span *ngIf="form.taxID.errors.required">Please provide a valid Tax ID.</span>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="taxID">Business Type </label>

                  <ng-select [clearable]="false" formControlName="businessType" placeholder="Select ..."
                    [items]="bTypes" bindLabel="name" bindValue="name"
                    [ngClass]="{'is-invalid' :submit && form.currency.errors }">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class=" col-sm-6 col-lg-4 mb-4">
              <label for="floatingemailInput">Factoring Company <span (click)="onAddfactoringCompany()"
                  class="text-success"> <i class="bx bx-plus 2x"></i></span></label>
              <ng-select [clearable]="false" formControlName="factoringCompany" placeholder="No"
                [items]="factoringCompanies" bindLabel="name" bindValue="id"
                [ngClass]="{'is-invalid' :submit && form.factoringCompany.errors }">
              </ng-select>
            </div>

          </div>
        </div>
      </ng-template>

    </li>

    <li [ngbNavItem]="2" [destroyOnHide]="false">
      <a ngbNavLink>Insuarance</a>
      <ng-template ngbNavContent>

        <div formGroupName="liability">
          <h5 class="text-primary mb-3">Liability</h5>

          <div class="row ">

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="liabilityCompany">Liability Company<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="liabilityCompany"
                placeholder="Enter Company Name">

            </div>

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="conatct">Contact</label>
              <input type="text" class="form-control" formControlName="conatct" placeholder="Enter Contact">
            </div>


            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class="col-sm-6">
                  <label for="telephone">Telephone Number <span class="text-danger"> *</span> </label>
                  <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                    [dropSpecialCharacters]="false" formControlName="telephone" placeholder="Enter Phone Number"
                    mask="(000) 000-0000">


                </div>

                <div class=" col-sm-6">
                  <label for="ext">Ext.</label>
                  <input type="text" class="form-control" formControlName="ext" placeholder="Enter Extension">


                </div>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label for="policyNumber">Policy#<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" formControlName="policyNumber"
                    placeholder="Enter Policy Number">


                </div>

                <div class="col-md-6">
                  <label for="expirationDate">Exp. Date<span class="text-danger"> *</span></label>
                  <div class="input-group clockpicker">
                    <input ngbDatepicker type="text" class="form-control" formControlName="expirationDate"
                      placeholder="Enter Expiration Date" #l="ngbDatepicker">

                    <div class="input-group-append" (click)="l.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>

                  </div>



                </div>
              </div>
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="liability">Liability ($)<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="liability" placeholder="Enter Liability amount">

            </div>

            <div class=" col-sm-6 col-lg-4 mb-4">
              <label for="note">Note</label>
              <textarea class="form-control" formControlName="note" placeholder=" Note...">

                </textarea>
            </div>

          </div>
        </div>

        <h5 class="text-primary mb-3">Auto</h5>
        <div formGroupName="auto">

          <div class="row ">

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="insCompany">Insuarance Company<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="insCompany" placeholder="Enter Company Name">
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="conatct">Contact</label>
              <input type="text" class="form-control" formControlName="conatct" placeholder="Enter Contact">
            </div>


            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class="col-sm-6">
                  <label for="telephone">Telephone Number <span class="text-danger"> *</span> </label>
                  <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                    [dropSpecialCharacters]="false" formControlName="telephone" placeholder="Enter Phone Number"
                    mask="(000) 000-0000">


                </div>

                <div class=" col-sm-6">
                  <label for="ext">Ext.</label>
                  <input type="text" class="form-control" formControlName="ext" placeholder="Enter Extension">


                </div>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label for="policyNumber">Policy#<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" formControlName="policyNumber"
                    placeholder="Enter Policy Number">


                </div>

                <div class="col-md-6">
                  <label for="expirationDate">Exp. Date<span class="text-danger"> *</span></label>
                  <div class="input-group clockpicker">
                    <input ngbDatepicker type="text" class="form-control" formControlName="expirationDate"
                      placeholder="Enter Expiration Date" #a="ngbDatepicker">

                    <div class="input-group-append" (click)="a.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="liability">Liability ($)<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="liability" placeholder="Enter Liability amount">

            </div>

            <div class=" col-sm-6 col-lg-4 mb-4">
              <label for="note">Note</label>
              <textarea class="form-control" formControlName="note" placeholder=" Note...">

                  </textarea>
            </div>

          </div>
        </div>

        <h5 class="text-primary mb-3">Cargo</h5>

        <div formGroupName="cargo">
          <div class="row ">

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="cargoCompany">Cargo Company<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="cargoCompany" placeholder="Enter Company Name">

            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="conatct">Contact</label>
              <input type="text" class="form-control" formControlName="conatct" placeholder="Enter Contact">
            </div>


            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class="col-sm-6">
                  <label for="telephone">Telephone Number <span class="text-danger"> *</span> </label>
                  <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                    [dropSpecialCharacters]="false" formControlName="telephone" placeholder="Enter Phone Number"
                    mask="(000) 000-0000">


                </div>

                <div class=" col-sm-6">
                  <label for="ext">Ext.</label>
                  <input type="text" class="form-control" formControlName="ext" placeholder="Enter Extension">


                </div>
              </div>
            </div>



            <div class="mb-3  col-sm-6 col-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label for="policyNumber">Policy#<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" formControlName="policyNumber"
                    placeholder="Enter Policy Number">


                </div>

                <div class="col-md-6">
                  <label for="expirationDate">Exp. Date<span class="text-danger"> *</span></label>
                  <div class="input-group clockpicker">
                    <input ngbDatepicker type="text" class="form-control" formControlName="expirationDate"
                      placeholder="Enter Expiration Date" #c="ngbDatepicker">

                    <div class="input-group-append" (click)="c.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>

                  </div>


                </div>

              </div>
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="cargoInsuarance">Cargo Ins ($)<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="cargoInsuarance"
                placeholder="Enter Insuarance amount">

            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="wsib">WSIB#<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="wsib" placeholder="Enter WSIB number">

            </div>

          </div>

        </div>


        <h5 class="text-primary mb-3 mt-2">FCMSA</h5>
        <div formGroupName="fmcsa">
          <div class="row ">

            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="fmcsaCompany">FMCSA Company<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="fmcsaCompany" placeholder="Enter Company Name">

            </div>
            <div class="mb-3  col-sm-6 col-lg-4">
              <label for="type">Type</label>
              <input type="text" class="form-control" formControlName="type" placeholder="Enter Type">
            </div>


            <div class="  col-sm-6 col-lg-4 mb-3">
              <div class="row">

                <div class="col-sm-6">
                  <label for="telephone">Telephone Number <span class="text-danger"> *</span> </label>
                  <input type="text" class="form-control" [prefix]="cDialCode" [showMaskTyped]="true"
                    [dropSpecialCharacters]="false" formControlName="telephone" placeholder="Enter Phone Number"
                    mask="(000) 000-0000">
                </div>

                <div class=" col-sm-6">
                  <label for="ext">Ext.</label>
                  <input type="text" class="form-control" formControlName="ext" placeholder="Enter Extension">


                </div>
              </div>
            </div>


            <div class="mb-3  col-sm-6 col-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label for="policyNumber">Policy#<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" formControlName="policyNumber"
                    placeholder="Enter Policy Number">
                </div>

                <div class="col-md-6">
                  <label for="expirationDate">Exp. Date<span class="text-danger"> *</span></label>
                  <div class="input-group clockpicker">
                    <input ngbDatepicker type="text" class="form-control" formControlName="expirationDate"
                      placeholder="Enter Expiration Date" #f="ngbDatepicker">

                    <div class="input-group-append" (click)="f.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">

              <label for="coverage">Cargo Ins ($)<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" formControlName="coverage" placeholder="Enter Insuarance amount">
            </div>

            <div class="mb-3  col-sm-6 col-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <label for="amBestRating">A.M. Best Rating</label>

                  <ng-select [clearable]="false" formControlName="amBestRating" placeholder="Select Rating"
                    [items]="ratingList" bindLabel="name" bindValue="name">
                  </ng-select>
                </div>

                <div class="col-md-6">

                </div>
              </div>
            </div>

          </div>

        </div>

      </ng-template>
    </li>

    <li [ngbNavItem]="3" [destroyOnHide]="false">
      <a ngbNavLink>Equipment</a>
      <ng-template ngbNavContent>

        <div class="mb-3" formArrayName="equipments">
          <div class="mb-3" *ngFor="let data1 of equipments().controls; let i=index;">
            <div [formGroupName]="i" class="row">
              <div class="mb-3 col-lg-2 col-sm-4">
                <label for="equipment">Equipment</label>

                <ng-select [clearable]="false" formControlName="equipment" placeholder="Select Equipment"
                  [items]="equipmentList" bindLabel="name" bindValue="name"></ng-select>

              </div>

              <div class="mb-3 col-lg-2 col-sm-4">
                <label for="email">Quantity</label>
                <input type="number" formControlName="qty" class="form-control">
              </div>

              <div class="col-lg-1  col-sm-2 align-self-center">
                <div class="d-grid">
                  <span (click)="removeField(i)"><i class="bx bxs-trash text-danger"></i> </span>

                </div>
              </div>

            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="addField()">Add <i class="mdi mdi-plus"></i> </button>

        </div>
      </ng-template>
    </li>


    <li [ngbNavItem]="4" [destroyOnHide]="false">
      <a ngbNavLink>Notes</a>
      <ng-template ngbNavContent>
        <textarea class="form-control" rows="10" cols="5" formControlName="gNote" placeholder=" Note...">
          </textarea>

      </ng-template>
    </li>


  </ul>
  <div [ngbNavOutlet]="nav" class="p-3"></div>

  <div class="d-flex flex-wrap gap-1 justify-content-end">

    <button type="reset" class="btn btn-secondary waves-effect">
      Reset
    </button>
    <button type="submit" class="btn btn-primary waves-effect waves-light">
      Save
    </button>

  </div>
</form>

<ng-template #factoringCompanyAddModal>

  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Factoring Company</h5>
    <button type="button" class="btn-close" (click)="modalRef.close('Close click')" aria-label="Close">
    </button>
  </div>

  <div class="modal-body">
    <company-form [formData]="formData" (onSubmit)="validSubmit()"></company-form>
  </div>
</ng-template>