<app-loader></app-loader>
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <ol class="breadcrumb m-0">

                    <label for="example-month-input" class="col-form-label">Analytics For:</label>
                    <div class="col-md-6">
                        <ng-template #t let-date let-focused="focused">

                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                        
                        </ng-template>

                        <input type="text" class="form-control date" (click)="hidden=!hidden" name="daterange"
                            autocomplete="off" [(ngModel)]="selected" />

                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="hidden" [hidden]="hidden">
                        </ngb-datepicker>
                    </div>

                </ol>
                
                <div class="page-title-right">
                    <h4 class="mb-0 font-size-18">COMPANY Dashboard</h4> 
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-8">
            <div class="row">
                <div *ngFor="let stat of statData" class="col-md-4">
                    <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-end">
                            <div class="input-group input-group-sm">
                                <label class="input-group-text">Report</label>
                                <select class="form-select form-select-sm" (change)="selectMonth($event.target.value)">
                                    <option value="january" selected>Total Revenue</option>
                                    <option value="december">Total Profit</option>
                                    <option value="november">Total Loads</option>

                                </select>

                            </div>
                        </div>
                        <h4 class="card-title mb-4">STATISTICS</h4>
                    </div>

                    <div class="row" *ngFor="let item of sassEarning">
                        <div class="col-lg-3">
                            <div class="text-muted">
                                <div class="mb-4">
                                    <p>{{item.name}}</p>
                                    <h4>{{ item.amount }}</h4>
                                    <div><span class="badge badge-soft-success font-size-12 me-1"> + {{ item.revenue }}%
                                        </span> {{ item.time }}</div>
                                </div>

                                <div class="mt-4">
                                    <p class="mb-2">{{ item.month }}</p>
                                    <h5>{{ item.previousamount }}</h5>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9">
                            <apx-chart class="apex-charts" dir="ltr" [series]="item.series"
                                [chart]="earningLineChart.chart" [colors]="earningLineChart.colors"
                                [stroke]="earningLineChart.stroke" [dataLabels]="earningLineChart.dataLabels">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">RECENT TRANSACTION </h4>
                    <app-transaction [transactions]="transactions"></app-transaction>
                    <!-- end table -->
                </div>
            </div>

        </div>

        <div class="col-xl-4">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-8">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>CTM Dashboard</p>
                            </div>
                        </div>
                        <div class="col-4 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">

                        <div class="col-4">
                            <div class="mt-4">
                                <p class="mb-2 text-truncate"><i
                                        class="mdi mdi-map-marker-outline text-primary me-1"></i>
                                    Offices</p>
                                <h4 class="">32</h4>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mt-4">
                                <p class="mb-2 text-truncate"><i class="mdi mdi-account-group text-success me-1"></i>
                                    Dispatchers</p>
                                <h4 class="">132</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4 ">LOAD SUMMARY</h4>

                    <apx-chart class="apex-charts" dir="ltr" [series]="loadSummaryChart.series"
                        [chart]="loadSummaryChart.chart" [labels]="loadSummaryChart.labels"
                        [legend]="loadSummaryChart.legend" [colors]="loadSummaryChart.colors"
                        [responsive]="loadSummaryChart.responsive">
                    </apx-chart>


                </div>
            </div>

        </div>

    </div>
    <!-- end row -->



    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div> <!-- container-fluid -->

<ng-template #content let-modal>
    <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> </button>
    </div>
    <div class="modal-body">
        <div class="text-center mb-4">
            <div class="avatar-md mx-auto mb-4">
                <div class="avatar-title bg-light rounded-circle text-primary h1">
                    <i class="mdi mdi-email-open"></i>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <h4 class="text-primary">Subscribe !</h4>
                    <p class="text-muted font-size-14 mb-4">Subscribe our newletter and get notification to stay update.
                    </p>

                    <div class="input-group bg-light rounded">
                        <input type="email" class="form-control bg-transparent border-0"
                            placeholder="Enter Email address" aria-label="Recipient's username"
                            aria-describedby="button-addon2">

                        <button class="btn btn-primary" type="button" id="button-addon2">
                            <i class="bx bxs-paper-plane"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>