<div class="container-fluid">
  <app-page-title title="FACTORING COMPANY LIST" [breadcrumbItems]="breadCrumbItems">

  </app-page-title>
  <div class="card">

    <div class="card-body">

      <div class="row mb-md-2  mt-3">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length" id="tickets-table_length"><label class="d-inline-flex align-items-center">Show
              <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize" [(ngModel)]="pageSize"
                class="form-control form-control-sm mx-2">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select> entries</label></div>
        </div>
        <!-- Search -->
        <div class="col-sm-12 col-md-6">
          <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
              class="d-inline-flex align-items-center">Search:
              <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                aria-controls="tickets-table" [(ngModel)]="searchTerm"></label>
          </div>
        </div>
        <!-- End search -->
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table id="basic-datatable"
          class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline myt">
          <thead>
            <tr>
              <th sortable="name" (sort)="onSort($event)">Company Name</th>
              <th sortable="address_line_1" (sort)="onSort($event)">Address Line 1</th>
              <th sortable="city" (sort)="onSort($event)">City</th>
              <th sortable="state" (sort)="onSort($event)">state</th>
              <th sortable="zip" (sort)="onSort($event)">Zip</th>
              <th sortable="telephone" (sort)="onSort($event)">Telephone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let table of companies$ | async;let i=index">
            <tr [ngStyle]="{padding:'0px', height:'5px'}">


              <td class="text-truncate ">
                <ngb-highlight [result]="table.name" [term]="searchTerm">
                </ngb-highlight>
              </td>


              <td class="text-truncate ">
                <ngb-highlight [result]="table.addres_1" [term]="searchTerm">
                </ngb-highlight>
              </td>


              <td class="text-truncate ">
                <ngb-highlight [result]="table.city" [term]="searchTerm">
                </ngb-highlight>
              </td>



              <td class="text-truncate ">
                <ngb-highlight [result]=" table.state"  [term]="searchTerm">
                </ngb-highlight>
              </td>



              <td class="text-truncate ">
                <ngb-highlight [result]="table.zip" [term]="searchTerm">
                </ngb-highlight>
              </td>



              <td class="text-truncate ">
                <ngb-highlight [result]="table.telephone" [term]="searchTerm">
                </ngb-highlight>
              </td>
              <td>
                <div ngbDropdown placement="bottom-left">
                  <i class="mdi mdi-dots-horizontal dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                    aria-expanded="true"></i>
                  <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <a (click)="onEdit(table.id)" class="dropdown-item" href="javascript: void(0);"><i
                        class="bx bx-pen text-warning"></i> Edit</a>
                    <a class="dropdown-item" href="javascript: void(0);"><i class="bx bxs-file text-warning"></i>
                      Files</a>

                  </div>
                </div>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
      <!-- End table -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
            {{startIndex}} to
            {{endIndex}} of {{totalRecords}}
            entries
          </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
  </div>

  <ng-template #editModal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Update Company</h5>
      <button type="button" class="btn-close" (click)="modalRef.close('Close click')" aria-label="Close">
      </button>
    </div>

    <div class="modal-body">
      <company-form [formData]="formData"   (onSubmit)="validSubmit($event)"></company-form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close('Close click')">Close</button>
    </div>

  </ng-template>