<div class="container-fluid">
  <app-page-title title="Load Board" [breadcrumbItems]="breadCrumbItems">

  </app-page-title>

  <div class="card">
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">

        <li [ngbNavItem]="1">
          <a ngbNavLink>Active Loads</a>
          <ng-template ngbNavContent>
            <load-table [service]="service._activeLoadsTableService"></load-table>
          </ng-template>

        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Delivered</a>
          <ng-template ngbNavContent>
            <load-table [service]="service._deliveredLoadsTableService"></load-table>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink>Cancelled</a>
          <ng-template ngbNavContent>
            <load-table [service]="service._cancelledLoadsTableService"></load-table>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="p-3"></div>

    </div>
  </div>
</div>