<div class="card mini-stats-wid">
  <div class="card-body">
    <div class="media">
      <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
        <span class="avatar-title">
          <i class="bx {{icon}} font-size-24"></i>
        </span>
      </div>
      <div class="media-body align-right">
        <h5 class="font-size-14 mb-2 text-center">{{title}}</h5>
        <h5 class="text-center">{{value}}</h5>
      </div>
    </div>
  </div>
  <!-- end card-body -->
</div>
<!-- end card -->