<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <div class="col-sm-2">
                    <label class="col-form-label">Analytics Period: &nbsp;&nbsp; </label>
                    <!--Date Range picker -->
                    <date-range-picker [ranges]="ranges" (rangeSelected)="onDateRangeSlelected($event)">
                    </date-range-picker>

                </div>
                <div class="col-sm-2 pull-right">

                    <label class=" col-form-label">Analytics For Office: &nbsp;</label>
                    <select class="form-select form-select-sm" (change)="selectMonth($event.target.value)">
                        <option value="Los Angeles" selected>Los Angeles</option>
                        <option value="Denver">Denver</option>
                        <option value="San Diego">San Diego</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <div class="card bg-primary bg-soft">
                <div>
                    <div class="row">
                        <div class="col-8">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <h5 class="mb-1">Alec Manoukian</h5>
                                <p class="mb-0 text-warning">Company Admin</p>

                                <ul class="ps-3 mb-0">
                                    <li class="py-1">Navigate to Offices</li>
                                    <li class="py-1">Load Summary and more</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-4 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-sm-4">
                    <!--Load Count-->
                    <app-stat [icon]="loadCount.icon" [title]="loadCount.title" [value]="loadCount.value"
                        [comparison]="loadCount.comparison"></app-stat>
                </div>

                <div class="col-sm-4">
                    <!--gross revenue-->
                    <app-stat [icon]="grossRevenue.icon" [title]="grossRevenue.title" [value]="grossRevenue.value"
                        [comparison]="grossRevenue.comparison" [isCurrency]="grossRevenue.currency"></app-stat>
                </div>

                <div class="col-sm-4">
                    <!--Net Profit-->
                    <app-stat [icon]="netProfit.icon" [title]="netProfit.title" [value]="netProfit.value"
                        [comparison]="netProfit.comparison" [isCurrency]="netProfit.currency"></app-stat>
                </div>

            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-sm-6">
                    <!--Load Average-->
                    <app-stat [icon]="loadAverage.icon" [title]="loadAverage.title" [value]="loadAverage.value"
                        [comparison]="loadAverage.comparison"></app-stat>
                </div>
                <div class="col-xl-6">
                    <!--Profit Margin -->
                    <app-stat [icon]="profitMargin.icon" [title]="profitMargin.title" [value]="profitMargin.value"
                        [comparison]="profitMargin.comparison" [isCurrency]="profitMargin.currency"></app-stat>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Load Coverage</h4>
                    <ul ngbNav #nav1="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">

                        <li [ngbNavItem]="1" [destroyOnHide]="false">
                            <a ngbNavLink>Origin</a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="originMap"></ng-template>
                            </ng-template>

                        </li>

                        <li [ngbNavItem]="2">
                            <a ngbNavLink>Destination</a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="destinationMap"></ng-template>
                            </ng-template>
                        </li>

                    </ul>
                    <div [ngbNavOutlet]="nav1"></div>


                </div>
            </div>

            <div class="">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">RECENT LOADS </h4>
                        <app-transaction [transactions]="transactions"></app-transaction>
                        <!-- end table -->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-end">
                            <div class="input-group input-group-sm">
                                <label class="input-group-text">Report</label>
                                <select class="form-select form-select-sm" (change)="selectMonth($event.target.value)">
                                    <option value="january" selected>Total Revenue</option>
                                    <option value="december">Total Profit</option>
                                    <option value="november">Total Loads</option>
                                </select>
                            </div>
                        </div>
                        <h4 class="card-title mb-4">STATISTICS</h4>
                    </div>

                    <div>
                        <div id="overview-chart" class="apex-charts" dir="ltr"></div>
                        <apx-chart class="apex-charts" dir="ltr" [series]="OveviewChart.series"
                            [chart]="OveviewChart.chart" [colors]="OveviewChart.colors" [stroke]="OveviewChart.stroke"
                            [dataLabels]="OveviewChart.dataLabels" [fill]="OveviewChart.fill"
                            [xaxis]="OveviewChart.xaxis">
                        </apx-chart>
                    </div>

                </div>

            </div>



            <div class="row" *ngIf="isSuperAdmin">

                <div class="col-xl-6">
                    <!--Total Offices-->
                    <app-stat [icon]="totalOffice.icon" [title]="totalOffice.title" [value]="totalOffice.value"
                        [comparison]="totalOffice.comparison" [isCurrency]="totalOffice.currency"></app-stat>
                </div>
                <div class="col-xl-6">
                    <!--total Dispatcher-->
                    <app-stat [icon]="totalDispatchers.icon" [title]="totalDispatchers.title"
                        [value]="totalDispatchers.value" [comparison]="totalDispatchers.comparison"
                        [isCurrency]="totalDispatchers.currency"></app-stat>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">TOP PERFORMERS</h4>

                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">

                        <li [ngbNavItem]="1" [destroyOnHide]="false">
                            <a ngbNavLink>Curret Month </a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="performersTable"></ng-template>
                            </ng-template>

                        </li>

                        <li [ngbNavItem]="2" [destroyOnHide]="false">
                            <a ngbNavLink>Previous Month</a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="performersTable"></ng-template>
                            </ng-template>
                        </li>

                        <li [ngbNavItem]="3" [destroyOnHide]="false">
                            <a ngbNavLink>Current Year</a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="performersTable"></ng-template>
                            </ng-template>
                        </li>

                        <li [ngbNavItem]="4" [destroyOnHide]="false">
                            <a ngbNavLink>Previous Year</a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="performersTable"></ng-template>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>

                </div>
            </div>
        </div>
    </div>

    <ng-template #performersTable>

        <div class=" table-responsive">
            <table class="table align-middle  table-nowrap table-hover">
                <thead class="">
                    <tr>
                        <th scope="col" style="width: 70px;"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Net Profit</th>
                        <th scope="col">Gross Revenue</th>
                        <th scope="col">Load Count</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="avatar-xs">
                                <span class="avatar-title rounded-circle">
                                    DM
                                </span>
                            </div>
                        </td>
                        <td>
                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">David
                                    McHenry</a>
                            </h5>
                            <p class="text-muted mb-0">Dispatcher</p>
                        </td>
                        <td>david@capitaltms.com</td>
                        <td>
                            $ 5,000
                        </td>
                        <td>
                            $ 3,500
                            0 </td>

                        <td>
                            150
                        </td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">

                                <li class="list-inline-item px-2">
                                    <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                            class="bx bx-user-circle"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-2.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Frank
                                    Kirk</a></h5>
                            <p class="text-muted mb-0">Dispatcher</p>
                        </td>
                        <td>frank@capitaltms.com</td>
                        <td>
                            $ 5,000
                        </td>
                        <td>
                            $ 3,500
                            0 </td>

                        <td>
                            150
                        </td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">

                                <li class="list-inline-item px-2">
                                    <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                            class="bx bx-user-circle"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-3.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Rafael
                                    Morales</a>
                            </h5>
                            <p class="text-muted mb-0">Dispatcher</p>
                        </td>
                        <td>Rafael@capitaltms.com</td>
                        <td>
                            $ 5,000
                        </td>
                        <td>
                            $ 3,500
                            0 </td>

                        <td>
                            150
                        </td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">

                                <li class="list-inline-item px-2">
                                    <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                            class="bx bx-user-circle"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="avatar-xs">
                                <span class="avatar-title rounded-circle">
                                    ME
                                </span>
                            </div>
                        </td>
                        <td>
                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Mark
                                    Ellison</a></h5>
                            <p class="text-muted mb-0">Dispatcher</p>
                        </td>
                        <td>mark@capitaltms.com</td>
                        <td>
                            $ 5,000
                        </td>
                        <td>
                            $ 3,500
                            0 </td>

                        <td>
                            150
                        </td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">

                                <li class="list-inline-item px-2">
                                    <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                            class="bx bx-user-circle"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-4.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Minnie
                                    Walter</a>
                            </h5>
                            <p class="text-muted mb-0">Dispatcher</p>
                        </td>
                        <td>minnie@capitaltms.com</td>
                        <td>
                            $ 5,000
                        </td>
                        <td>
                            $ 3,500
                            0 </td>

                        <td>
                            150
                        </td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">

                                <li class="list-inline-item px-2">
                                    <a href="javascript: void(0);" ngbTooltip="Profile"><i
                                            class="bx bx-user-circle"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </ng-template>

    <ng-template #originMap>
        <USA-map [coverage]="pickUpCoverage"></USA-map>
    </ng-template>

    <ng-template #destinationMap>
        <USA-map [coverage]="deliveryCoverage"></USA-map>
    </ng-template>