<div class="container-fluid">
    <app-page-title title="Integrations">

    </app-page-title>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-lg-4 card">
                    <div class="border card-body  p-3 rounded mt-4  d-flex flex-column">
                        <div class="d-flex align-items-center mb-3">
                            <div class="avatar-xs me-3">
                                <span class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18">
                                    <img class="rounded-circle header-profile-user" height="50" width="50"
                                        src="assets/images/brands/rmis-logo.jpeg">
                                </span>
                            </div>
                            <h3 class="font-size-18 mb-0">RMIS</h3>
                        </div>

                        <div class="">
                            <div class="text-muted mt-3">
                                <p>Connect Carrier compliance data from RMIS to your Capital TMS carrier database
                                    and ensure that you are always woring with carriers that meet your business'
                                    compliance standard <a href="#">Learn More</a> </p>


                            </div>
                        </div>

                        <div class=" mt-auto">
                            <a (click)="configRmis()" href="javascript: void(0);" class="btn btn-outline-info ">Enable
                                App</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 card ">
                    <div class="border  card-body p-3 rounded mt-4  d-flex flex-column">
                        <div class="d-flex align-items-center mb-3">
                            <div class="avatar-xs me-3">
                                <span class="avatar-title rounded-circle bg-success bg-soft text-warning font-size-18">
                                    <img class="rounded-circle header-profile-user"
                                        src="assets/images/brands/safer-logo.png">
                                </span>
                            </div>
                            <h3 class="font-size-18 mb-0">Saferwatch</h3>
                        </div>


                        <div class="">
                            <div class="text-muted mt-3">
                                <p>Access Saferwatch and get the most up-to-data carrier data all in one place. <a
                                        href="#">Learn More</a> </p>

                            </div>
                        </div>

                        <div class="mt-auto">
                            <a (click)="configSaferwatch()" href="javascript: void(0);"
                                class="btn btn-outline-info text-right">Enable App</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 card ">
                    <div class="border card-body p-3 rounded mt-4  d-flex flex-column">
                        <div class="d-flex align-items-center mb-3">
                            <div class="avatar-xs me-3">
                                <span class="avatar-title rounded-circle bg-success bg-soft text-warning font-size-18">
                                    <img class="rounded-circle header-profile-user"
                                        src="assets/images/brands/qb_thumb.png">
                                </span>
                            </div>
                            <h3 class="font-size-18 mb-0">QuickBook</h3>
                        </div>


                        <div class="">
                            <div class="text-muted mt-3">
                                <p>Enables Invoice export to QuickBooks with a click of a button <a href="#">Learn
                                        More</a> </p>

                            </div>
                        </div>

                        <div class="mt-auto">
                            <a (click)="configQuickBook()" href="javascript: void(0);"
                                class="btn btn-outline-info">Enable App</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>